header, .blog:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
  
.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}
  
.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

/* .navbar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    list-style-type: none;
    margin: 0;
    font-size: 1.5em;   
}
  
.navbar a{
    text-decoration: none;
    margin: 0 5px
}
  
.navbar a:visited{
    text-decoration: none;
    color: inherit;
}
  
.navbar a:hover{
    text-decoration: none;
    color: inherit;
} */

.post{
    margin: 20px 0;
    border: 1px lightgrey solid;
    text-align: right;
}
  
.post-title{
    background-color: lightgrey;
    padding: 15px;
    margin-top: 0;
    text-align: left;
}
  
.post-title a:link{
    color: #617ab7;
    text-decoration: none;
}
  
.post-title a:visited{
    color: #617ab7;
    text-decoration: none;
}
  
.post-title a:hover{
    text-decoration: none;
    color: #0e506e;
}
  
.post-content{
    padding: 10px !important;
    text-align: left !important;
}
  
.post-button{
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
  
.post-author{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
  
.post-username{
    font-weight: bold;
}

.new-post-button{
    margin: 20px 0;
}

.dashboard-container{
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.dashboard-post{
    border: 1px #d3d3d3 solid;
}

.comment-author{
    padding: 10px;
    font-weight: bold;
}

.edit-post-form{
    margin-top: 20px;
}
  
.edit-post-form div{
    margin-bottom: 20px;
}

.single-comment-container{
    margin-top: 20px;
}